@font-face {
    font-family: font_commerce;
    src: url('../font/unicode.commercb.ttf') format('truetype');

}

* {
    margin: 0;
    padding: 0;
    font-family: font_commerce;
}

p {
    text-align: center;
    color: #0d532d;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    width: 100%;
    background: url('../images/daihoidoan-show-5x2.png') no-repeat;
    background-size: 100%;
}

.container .slide-left {
    margin-left: 2.14%;
    float: left;
    width: 36%;
}

.title-slide {
    width: 69%;
    margin: 0 auto;
    /*background: url('../images/khau-hieu.png') no-repeat;*/
    background-size: 100%;
}

.tv-slidebar {
    position: relative;
    width: 100%;
}

video#videobg {
    width: 100%;
}

.background-tv {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../images/tv-2.png') no-repeat;
    background-size: 100%;
}

.opacity-footer {
    width: 75%;
    margin: 0 auto;
    background: url('../images/chan-tv.png') no-repeat;
    background-size: 100%;
    background-position-y: 80%;
}

.box-center {
    width: 60%;
    float: left;
}

.box-content-mid {
    width: 61.3%;
    background: url('../images/four-star.png') no-repeat;
    background-size: 100%;
    background-position-y: 84%;
    float: left;
}

.box-content-bottom {
    width: 100%;
    height: 100%;
}

.box-all-avatar {
    width: 85%;
    margin: auto;
    background: url('../images/logo.png') no-repeat;
    background-size: 100%;
}

.box-four-star {
    width: 70%;
    height: 70%;
    /*position: relative;*/
    /*top: 17.5%;*/
    /*left: -27%;*/
}

p.delegate-name {
    color: #ec2028;
}

.box-mid-head {
    width: 100%;
}

/*box right*/
.new-right-box {
    float: left;
    width: 12.56%;
}

.box-right ul li {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 5%;
}

.box-right ul li.first {
    width: 82.5%;
    margin: 0 auto;
    float: none;
    overflow: hidden;
}

.box-right ul li.continue {
    width: 46.97%;
}

.box-right ul li.continue:nth-child(2n+2) {
    float: right;
}

.box-right ul li img {
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.box-right ul li .border-avatar-dhd {
    position: absolute;
    background: url('../images/avatar-border.png') no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.new-right-box {
    float: right;
    position: relative;
}

.new-right-box .first {
    background: url("../images/avatar-default.jpg");
    background-size: 100%;
    width: 90.5%;
    text-align: center;
    margin-right: 6%;
    margin-left: 3%;
    /*background-color: #f4f4f4;*/
    /*border: 2px solid transparent;*/
    /*background-image: linear-gradient(to right, #12552c, #ec7f12, #7d9217, #78312d,#0d532d), linear-gradient(to bottom, #0d532d, #3f432d), linear-gradient(to left, #12552c, #ec7f12, #7d9217, #78312d,#0d532d), linear-gradient(to top, #0d532d, #3f432d);*/
    /*background-origin: border-box;*/
    /*background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;*/
    /*background-position: top left, top right, bottom right, bottom left;*/
    /*background-repeat: no-repeat;*/
}

.continue {
    background: url("../images/avatar-default.jpg");
    background-size: 100%;
    width: 47%;
    height: 70px;
    float: left;
    margin-right: 3%;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    /*background-color: #f4f4f4;*/
    /*border: 2px solid transparent;*/
    /*background-image: linear-gradient(to right, #12552c, #ec7f12, #7d9217, #78312d,#0d532d), linear-gradient(to bottom, #0d532d, #3f432d), linear-gradient(to left, #12552c, #ec7f12, #7d9217, #78312d,#0d532d), linear-gradient(to top, #0d532d, #3f432d);*/
    /*background-origin: border-box;*/
    /*background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;*/
    /*background-position: top left, top right, bottom right, bottom left;*/
    /*background-repeat: no-repeat;*/
}

.avatar-sm-new {
    height: 50%;
    width: 50%;
    float: left;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/*.box-avatar-3 {*/
/*    margin-top: 1%;*/
/*}*/

/*.box-avatar-4 {*/
/*    margin-top: 1%;*/
/*}*/

.pre-four-user-fly {
    position: absolute;
    width: 100px;
    height: auto;
    right: 6%;
    z-index: 1000;
    top: 80px;
    overflow: hidden;
}

.pre-four-user-fly .pre-box-four-star img {
    width: 49%;
    height: 49%;
    /*margin-left: 1%;*/
    /*margin-top: 1%;*/
    float: left;
    overflow: hidden;
}

#box-four-avatar1 {
    position: relative;
    top: 0% !important;
    left: 0% !important;
}

#box-four-avatar2 {
    position: relative;
    top: 50px !important;
    left: -50px !important;
}

#box-four-avatar3 {
    position: relative;
    top: 100px !important;
    left: -100px !important;
}

#box-four-avatar4 {
    position: relative;
    top: 150px !important;
    left: -150px !important;
}

#box-four-avatar5 {
    position: relative;
    top: 75px !important;
    left: -150px !important;
}

#box-four-avatar6 {
    position: relative;
    top: 75px !important;
    left: -150px !important;
}

#box-four-avatar7 {
    position: relative;
    top: 0px !important;
    left: -150px !important;
}

#box-four-avatar8 {
    position: relative;
    top: 50px !important;
    left: -200px !important;
}

#box-four-avatar9 {
    position: relative;
    top: 50px !important;
    left: 150px !important;
}

#box-four-avatar10 {
    position: relative;
    top: 100px !important;
    left: 100px !important;
}

#box-four-avatar11 {
    position: relative;
    top: -50px !important;
    left: 150px !important;
}

#box-four-avatar12 {
    position: relative;
    top: 0px !important;
    left: 100px !important;
}

#box-four-avatar13 {
    position: relative;
    top: 50px !important;
    left: 50px !important;
}

#box-four-avatar14 {
    position: relative;
    top: 100px !important;
    left: 0px !important;
}

#box-four-avatar15 {
    position: relative;
    top: 100px !important;
    left: 0px !important;
}

#box-four-avatar16 {
    position: relative;
    top: 100px !important;
    left: 0px !important;
}

#box-four-avatar17 {
    position: relative;
    top: 0px !important;
    left: 350px !important;
}

#box-four-avatar18 {
    position: relative;
    top: -50px !important;
    left: 300px !important;
}

#box-four-avatar19 {
    position: relative;
    top: -100px !important;
    left: 250px !important;
}

#box-four-avatar20 {
    position: relative;
    top: -100px !important;
    left: 150px !important;

}

#box-four-avatar21 {
    position: relative;
    top: 50px !important;
    left: 250px !important;
}

#box-four-avatar22 {
    position: relative;
    top: 0px !important;
    left: 223px !important;
}

#box-four-avatar23 {
    position: relative;
    top: -50px !important;
    left: 197px !important;
}

#box-four-avatar24 {
    position: relative;
    top: -100px !important;
    left: 196px !important;
}

#box-four-avatar25 {
    position: relative;
    top: -100px !important;
    left: 596px !important;
}

#box-four-avatar26 {
    position: relative;
    top: -50px !important;
    left: 570px !important;
}

#box-four-avatar27 {
    position: relative;
    top: 0px !important;
    left: 544px !important;
}

#box-four-avatar28 {
    position: relative;
    top: -50px !important;
    left: 396px !important;
}

#box-four-avatar29 {
    position: relative;
    top: -150px !important;
    left: 517px !important;
}

#box-four-avatar30 {
    position: relative;
    top: -100px !important;
    left: 467px !important;
}

#box-four-avatar31 {
    position: relative;
    top: -50px !important;
    left: 417px !important;
}

#box-four-avatar32 {
    position: relative;
    top: 0px !important;
    left: 367px !important;
}

#box-four-avatar33 {
    position: relative;
    top: -305px !important;
    left: 511px !important;
}

#box-four-avatar34 {
    position: relative;
    top: -291px !important;
    left: 511px !important;
}

#box-four-avatar35 {
    position: relative;
    top: -110px !important;
    left: 765px !important;
    display: none;
}

#box-four-avatar36 {
    position: relative;
    top: -122px !important;
    left: 678px !important;
    display: none;
}

#box-four-avatar37 {
    position: relative;
    top: -75px !important;
    left: 616px !important;
    display: none;
}

#box-four-avatar38 {
    position: relative;
    top: -38px !important;
    left: 614px !important;
    display: none;
}

#box-four-avatar39 {
    position: relative;
    top: -72px !important;
    left: 612px !important;
    display: none;
}

#box-four-avatar40 {
    position: relative;
    top: -119px !important;
    left: 555px !important;
    display: none;
}


.box-avatar.continue{
    position: absolute;
    display: none;
}
#box-user-wait9{
    display: none;
}